// app global css
@import 'quasar.variables'
@import 'flags'

@font-face {
    font-family: 'RobotoMono-Light';
    src: url(themes/RobotoMono-Light.ttf)
}

::selection {
    background: #63c9f3;
}
::-moz-selection {
    background: #63c9f3;
}

* {
    scrollbar-track-color: #111;
    scrollbar-arrow-color: #111;
    &::-webkit-scrollbar-corner { background-color: #111;}
    &::-webkit-scrollbar-track-piece { background-color: #111;}

    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
    &::-webkit-scrollbar { width: 8px; height: 8px;}
    &::-webkit-scrollbar-button {  background-color: #646464; height:0; width: 0; }
    &::-webkit-scrollbar-track {  background-color: #646464;}
    &::-webkit-scrollbar-thumb { height: 50px; background-color: #646464; border-radius: 3px;}
    &::-webkit-resizer { background-color: #646464;}
}


h1,h2,h3,h4,h5,h6,
img,
.q-list-header,
.q-header,
.q-menu .q-item-label,
.q-list-link .q-item,
.q-checkbox .q-option-label,
.infoBox .text,
.modal-header,
footer,
{
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.monospace {
    font-family: 'RobotoMono-Light', monospace
}


.break-all {
    word-break: break-all
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

.q-field {
    margin: 20px 0;

    &.q-ma-none {
        margin: 0;
    }
}

.text-area-oxen {
  margin-top: 0px;
  margin-bottom: 0px;
  textarea
  {
      color: #fff;
  }
}

.q-inner-loading {
    z-index: 2;
}

.q-btn {
    text-transform: none;
}

// At bottom of forms
.submit-button {
    margin-top: 6px;
}

.layout-padding {
    padding: 15px 16px !important;
}

.advanced-options-label .q-item-side-right {
    margin: 0;
    text-align: left;
}

.q-layout, .app-content {
        background: #1c1c26;
         color: #000;
}

.q-header {
    background: #0A0A0A;
    box-shadow: none;
    border-bottom: 1px solid #333;

    // new Design revamp //

    height: 70px;
    

    &.shift-title {
        .q-toolbar {
            text-align: center;

            .q-toolbar-title {
                font-size: 16px;
                line-height: 48px;
                font-weight: 300;
            }
        }
    }

    .q-btn.menu {
        height: 48px;
        width: 50px;
        position: absolute;
        top: 0;
        z-index: 1;
        border-radius: 0;
    }
    .q-btn.cancel {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
    }

    .q-toolbar-inverted {
        background: $oxen-navy;
        padding-top: 0;
    }

    .q-tabs {
        padding-left: 50px;

        .q-tabs-head {
            padding: 0;
            background: none;
        }

        .q-tab {
            text-transform: none;

            // &:hover {
            //     background-color: rgba(12,12,12,0.15)
            // }

            .q-icon {
                font-size: 22px;
            }

        }

    }
}
.q-header
{
    .q-toolbar
    {
        button
        {
            i
            {

                color: #fff;
               //background: #3773f7;
                padding: 5px;
                border-radius: 5px;
            }
        }
    }
}
.bg-red.text-white
{
    height: 50px;
    min-width: 170px;
    border-radius: 8px;
}

.q-layout-page {
    min-height: 0 !important;
}

.infoBox {
    height: 75px;
    cursor: default;
    position: relative;
    overflow: hidden;
    margin: 10px 0;

    .infoBoxIcon {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 64px;
        color: #cecece;

        svg {
            width: 60px;
            height: 60px;
        }
    }

    .infoBoxContent {
        display: inline-block;

        .text {
            font-size: 14px;
            margin-top: 8px;
            color: #fff;
        }

        .value {
            font-size: 24px;
            margin-top: 4px;
            font-weight: 300;
            color: #fff;
        }
    }
}

.q-checkbox {
    color: #fff;    
}

.q-loading + .modal {
    z-index: 9999 !important;
}

.modal-scroll {
    max-height: 230px;
    max-width: 640px;
    word-break: break-word;
}

.q-footer.status-footer {
    background: $oxen-navy;
    color: rgba(255, 255, 255, 0.51);
    border-top: 1px solid #333;
    padding-top: 2px;
    box-shadow: none;
    font-size: 12px;

    .status-line {
        padding: 8px;
        margin-bottom: 5px;

        .status {
            flex: 1;
            span {
                margin-right: 4px;
            }

            .status-text {
                font-weight: bold;
            }

            .ready {
              color: $positive;
            }

            .scanning, .syncing {
                color: goldenrod;
            }

            .updateRequired {
                color: $negative;
            }
        }

        div {
            padding: 0 8px;
        }
    }

    .status-bars {

        div {
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            -webkit-transition: width 0.5s ease-out;
            transition: width 0.5s ease-out;
        }

        div:first-child {
            // TODO: should first and last child be different, where even is this?
            background-color: $positive;
        }

        div:last-child {
            background-color: $positive;
        }
    }

    .status-bars.syncing, .status-bars.scanning {
        div:first-child {
            background-color: goldenrod;
        }

        div:last-child {
            background-color:goldenrod;
        }
    }

    .status-bars.updateRequired {
        div:first-child {
            color: $negative;
            background-color: $negative;
        }

        div:last-child {
            color: $negative;
            background-color: $negative;
        }
    }

}

.tx-list {

    .meta {
        text-align:right;
    }

    .q-item.tx-in,
    .q-item.tx-pool,
    .q-item.tx-miner,
    .q-item.tx-mnode,
    .q-item.tx-gov {
        .amount span {
            color: $oxen-navy;
            &:before {
                content: "+";
                color: $oxen-navy;
            }
        }
    }

    .q-item.tx-stake {
        .amount span {
            color: goldenrod;
        }
    }

    .q-item.tx-out,
    .q-item.tx-pending {
        .amount span {
            // color: white;
            &:before {
                content: "-";
                font-weight: bold;
                // color: white;
            }
        }
    }

    .q-item.tx-failed {
        .amount span {
            color: orangered;
        }
    }
}

.q-list-dark .q-item,
.q-item-dark .q-item,
.q-list-header {
    color: #cecece;
}

.q-stepper-tab.step-waiting,
.q-stepper-step-content{
    color: #cecece;
}

.q-menu {
    background: #1c1c26;
    color: $oxen-navy !important;

    * {
        color: $color-white;
    }

    .q-list-separator > .q-item-division + .q-item-division, .q-item-division + .q-separator {
        border-top: 1px solid #333;
    }
}

.menu-list {

    background: $beldex-bgcol;

    .q-item * {
        color: $color-white;
    }
}

.context-menu-list {
  min-width: 150px;
  max-height: 300px;
}

.confirm-tx-card {
  width: 450px;
  max-width: 450x;

  color: $oxen-navy !important;

  .confirm-list {
    .q-item {
      max-height: 100%;
      margin-top: 0;
      margin-bottom: 4px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .label {
    color: $oxen-purple;
    padding-right: 6px;
  }
  .address-value {
    word-break: break-word;
  }

  .confirm-send-btn {
    color: white;
    background: $primary;
  }
}


.header-popover {
    background: #2f2f40;
    color: white;
    max-width: 250px !important;
}

.modal.minimized {
    .q-input {
        .q-input-target {
            color: #cecece;
        }
        &.q-if:hover:before {
            color: #cecece;
        }
    }
}

.modal {
    color: #cecece;

    .modal-header {
        margin-top: 6px;
        margin-left: 24px;
        text-align: left;
        font-size: 24px;
        font-weight: bold;
    }

    .q-header {

        .q-toolbar {
            &>* {
                color: #cecece;
            }
        }
    }

}



.header {
    color: #fff;
}

.detail-page {
    color: $oxen-navy;
}

.q-radio {
    color: #fff;
    svg {
        color: #fff;
    }
}
.q-list
{
    color: #fff;
}
.qr-code-modal {
  padding: "25px";
  color: white;

  .qr-code-card {
    background-color: white;
  }
}

.oxen-light-teal {
    background: $oxen-light-teal;
    color: white;
}

.oxen-navy {
    background: $oxen-navy;
    color: white;
}

.oxen-teal {
    background: $oxen-teal;
    color: white;
}

.startup-icons {
    .solid {
        color:$oxen-teal;
        g,path {
            fill: $oxen-teal;
        }
    }
}

.hr-separator {
    height: 2px;
    background: $secondary;
    opacity: 0.4;
    margin: 10px 0px;
}

.navigation {
    .q-btn {
        background: #2f2f40;
        color: white;
        
        .q-icon {
            color: $oxen-teal;
        }
    }

    .router-link-exact-active > .q-btn {
        color: $oxen-navy
        background: $oxen-teal;

        .q-icon {
            color: $oxen-navy;
        }
    }

}



.wallet-list {
    .q-item-label {
        color: white;
    }

    .q-item {
        background: $beldex-bgcol;
        .wallet-icon {
            color: $oxen-teal;
            g,path {
                fill: $oxen-teal;
            }
        }
    }

    .q-item:hover, .q-item.selected {
        background: $beldex-hover !important;

        .wallet-icon {
            color: $oxen-teal;
            g,path {
                fill: $oxen-teal;
            }
        }

        .q-icon {
            color: white;
        }
    }
}
.beldex-theme
{
    
    .q-item
    {
        margin: 10px 16px;
        margin-bottom: 20px !important;
        padding: 14px;
        height: 70px;
        border-radius: 10px !important;
    }
}


.wallet-settings {
  .q-btn {
    color: #fff;
  }
}

.receive {

    .list-header {
        color: #fff;
    }

    .q-separator-component {
        background-color: white;
        opacity: 0.4;
    }

    .primary-address {
        background: $beldex-bgcol !important;
        border: none !important;

        .q-item, .q-item-side {
            color: white;

            .text-caption {
                color: white;
            }
        }

        .q-btn {
            color: white;
        }
    }

    .primary-address:hover {
        background: #3e3e54 !important;
    }

}

.oxen-list {
    .oxen-list-item {
        background: $beldex-bgcol;
        -webkit-transition: background-color 0.2s ease-in;
        transition: background-color 0.2s ease-in;

        font-size: 16px;
        color: #fff;
        padding-top: 6px;
        padding-bottom: 6px;

        margin: 0 16px;
        border: 1px solid $oxen-navy;
        border-radius: 10px;

        + .oxen-list-item {
            margin-top: 10px;
        }
    }

    .text-caption {
        color: #fff;
    }

    .oxen-list-item:hover {
        background: #3e3e54;
        cursor: pointer;

    }

}

.record-type-title {
  font-weight: bold;
  margin-bottom: 40px;
  padding-bottom: 40px;
  color: $oxen-navy;
}

.records-group {
  padding-bottom: 40px;
}

.master-node-list {
    .q-item {
        cursor: pointer;
        color: #fff;
        background: #2f2f40;
        -webkit-transition: background-color 0.2s ease-in;
        transition: background-color 0.2s ease-in;

        border: 1px solid #3b3b3c;
        border-radius: 10px;

        + .q-item {
            margin-top: 10px;
        }

        .contrib-amounts {
            color: #afafaf;
        }
    }
    
    .q-item-label {
        color: $oxen-navy;
    }

    .fee {
        color: #fff;
    }

    .q-item:hover {
        background: #292938;
    }

}

.belnet-expiration {
  width: 180px;
}

.bns-record-list {
  .q-item {
    cursor: pointer;
    color: $oxen-navy;
    -webkit-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;

    border: 1px solid $oxen-navy;
    border-radius: 4px;

    .height {
      color: $oxen-navy;
    }

    // we don't want to select button text (also a span) as well
    // this is the height text
    div > span {
      color: #fcfafa;
    }

    + .q-item {
      margin-top: 10px;
    }
  }

  .q-item:hover {
    background: $off-grey;
  }
}
.update-renew-buttons {
  .q-btn:not(:first-child) {
    margin-left: 8px;
  }
}

.tx-list {
    .transaction .main {
            border-left: 1px solid #252525;
    }
}

.tab-desc {
    color: #fff;
    font-style: normal;
    b {
        color: $oxen-teal;
        font-style: italic;
    }
}
.wallet-info .wallet-header .title
{
    color: #fff;
    transform: translate(-24px, 75px);
    background: #45455a;
    padding: 10px;
    border-radius: 6px 0px 15px 0px;
    min-width: 135px;
    padding-left: 15px;
}
.q-header .q-toolbar__title
{
    background: #2f2f40 !important;
}

.oxen-field {
    .content {
        border: 1.2px solid #484856;
        //background: $beldex-bgcol;
        -webkit-transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
        transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
        border-radius: 10px !important;
        min-height: 60px !important;
        margin-bottom: 20px !important;
    }

    &:not(.disable):not(.disable-hover) {
        .content:hover {
            background: #1c1c26;
        }
    }

    &.disable {
        .content {
            border-color: #404040 !important;
        }
    }

    .content.error {
        border-color: red;
    }

    .label {
        color: $color-white;

        .optional {
            color: #7C7C7C;
        }
    }
}

.welcome {
    .q-footer {
        background: #2f2f40;
    }
}

.welcome-container {
    color: #fff;
}

.address-book, .address-header {
    .q-item-label, .header {
        color: white;
    }
}

.prove-transaction {
    .signature {
        background: rgba(0,0,0,0.5);
        border: #0a0a0a 1px solid;
        border-radius: 2px;
        color: #b7b7b7;
    }
}

.signature-dialog {
    color: $oxen-navy;    
}

.check-transaction {
    .good {
        color: #43bd43;
    }

    .bad {
        color: $negative;
    }
}

.check-transaction, .prove-transaction {
    .title {
        color: #b7b7b7;
        font-size: 14px;
    }
}

.masterNodeDetails {
    .address {
        color: white;
    }
    .name {
        color: #979797;
    }
}

.non-selectable {
    color: #979797;
}

.created {
    color: $oxen-navy;
    
  .wallet h6 {
    text-align: center;
  }

  .address {
    text-align: center;
    word-break: break-all;
    color: #fff;
  }

  .seed-box {
        margin: 16px;
    padding: 16px;
    background: #2f2f40;
    border-radius: 10px;

    div,
    h6 {
      text-align: center;
    }

    .seed {
      font-size: 24px;
      font-weight: 600;
      color: #fff;
    }

    .warning {
      color: goldenrod;
    }
  }
  h6 {
    font-size: 18px;
    margin: 8px 0;
    font-weight: 450;
    color: #35af3b;
  }
  .advanced-options-label {
    padding-left: 0;
    padding-right: 0;
  }
}


.bg-primary
{
    background: #35af3b !important;
    height: 50px;
    min-width: 170px;
    border-radius: 8px;
}

.bg-primary:hover
{
    background: #35af3b !important;
}
.q-btn--flat
{
   // background: #3773f7 !important;//
    height: 50px;
    min-width: 170px;
    border-radius: 8px;
    color: #fff;
    
}
.q-btn--flat:hover
{
 background: #3773f7 !important;
}
.q-card__actions
{
    margin-right: 16px;
}
.q-page-container
{
    width: 80%;
    margin: 0 auto;
    padding-top: 80px !important;
}
.bg-accent
{
    background: #2f2f40 !important;
    min-width: 160px;
    height: 50px;
    border-radius: 8px;
}
.q-dialog-plugin
{
    border-radius: 10px !important;
    background: #2f2f40 !important;
    color: #fff !important;
}
.q-field--standard .q-field__control:before {
    border-bottom: 1px solid #818184 !important;
}
.q-placeholder
{
    color: #fff;
}

@media only screen and (max-width: 600px)
{
    .q-btn--flat
    {
        height: 36px;
        min-width: auto;
        border-radius: 3px;  
    }
}
.q-date__calendar-item > div, .q-date__calendar-item button
{
    height: unset;
    min-width: unset;
    border-radius: unset;
    background: unset !important;
}
.q-date__calendar-item button.bg-primary
{
    background: #35af3b !important;
}
.q-date__content .q-btn
{
        min-width: auto;
    background: transparent !important;
}
.bg-positive.text-white, .bg-negative.text-white
{
    min-width: 170px;
    height: 50px;
    border-radius: 8px;
}
.message
{
    color: #fff !important;
}
.q-btn__content .block
{
    color: #fff !important;
}
.q-card__actions
{
    display: inherit;
    text-align: center;
}
.q-item__label
{
    color: #fff;
}
.q-date
{
        background: #2f2f40;
}
.btn-wrapper
{
        transform: translate(10px, -20px);
}
.prove-transaction, .sign-and-verify, .check-transaction, .master-node-staking, .master-node-stake-tab, .master-node-registration
{
    background: #252531;
    border: 1px solid #303040;
}
.relative-position
{
    color: #fff;
}

.balance-button {
    position: relative;
    height: 45px;
    width: 194px;
    border-radius: 6px;
    min-width: 120px;
    margin-top: 10px;
}


// New Design vamp //

.d-flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-absolute
{
    position: relative;
}
.registrationBox
{
    .img{
        width:100%;

    }
    width: 832px;
    height: 600px;
    background-color:$beldex-lightgray;
    margin-top:100px;
    padding: 40px 12px;
    border-radius: 20px;

    .btn
    {
       
    height: 65px;
    font-size: 21px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: "Poppins-SemiBold";
    }
    .btn-spliter{
        display:flex;
        justify-content: space-between;
        margin-top: 37px;
        padding: 0 38px;
    }
    .create-btn
    {
        width: 49%;
        background-color: $beldex-std-blue;
        color: white;

    }
    .login-btn{
        width: 49%;
        background-color: $beldex-std-green;
        color: white;
        
    }
    .import-btn-box
    {
        margin-top: 10px;
        padding: 0 38px;
    }
    .import-btn
    {
        width: 100%;
        background-color: $beldex-disable-grey;
        color: white;
        
        
    }
    .coin-position-left
    {
        position: absolute;
        top: 89px;
        left: -73px;

    }
    .coin-position-right
    {
        position: absolute;
        top: 280px;
        right: -73px;

    }

}

.q-toolbar {
    background-color: $beldex-bgcol;
    padding: 0 45px;
    min-height: 72px;
}

.q-header {
    .main-title
    {
        font-family:'Poppins-Medium';
        font-size: 24px;
        margin-left: 20px;
        width: 94%;
    }
    .green {
        color:$beldex-font-green

    }
    .q-btn.menu
    {
        top: 12px;
    } 
}
.q-btn--flat {
    background:transparent;
    min-width: unset;
   
}
.fields
{
    width: 832px;
   // height: 600px;
    background-color:$beldex-lightgray;
    margin-top:100px;
    margin-bottom:50px;
    padding:20px 68px 68px;
    border-radius: 20px;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
}
.createTitle {
    text-align: center;
    font-family: Poppins-Bold;
    color: white;
    font-size: 22px;
}

.oxen-field .label {
    font-family: Poppins-SemiBold;
    font-size: 18px;
}

.bg-cancel {
    background: #32324A !important;
    height: 50px;
    min-width: 170px;
    border-radius: 8px;

}

.q-btn {
    font-family:Poppins-SemiBold;
    font-size:18px;
}
.divider {
    display:inline-block;
    width:15px;
}


.bg-secondary
{
    background-color:$beldex-std-blue !important; 
}

.q-btn--rectangle {
    border-radius: 7px;
}
.rectangleBox {
   // width: 832px;
    // height: 600px;
     background-color:$beldex-lightgray;
    // margin-top: 90px;
     padding:15px;
     border-radius: 20px;
     box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
     width: 90%;
     MARGIN: 90PX AUTO 0;
     HEIGHT: 88VH;
   
     a {
        text-decoration:none;
     }
    .router-link-exact-active > .selected {
        background-color: $beldex-disable-grey;
        span {
            font-family:"Poppins-SemiBold";
            font-size: 20px;
            color:#fff;
        }
        .leftIcon 
        {
            fill:$beldex-std-green;
            stroke:$beldex-std-green;
        }
        .q-icon {
            display:inline-block;  
          } 
       

     }
     .menuList{
            height: 78px;
            border-radius: 10px;
            padding: 26px 23px;
            color: #fff;
            align-items: center;
            .a-center
            {
              align-items: center;
            
            }
            span { 
                font-size:16px;
                color:$beldex-font-grey;
                margin-left:10px;
            }
            .leftIcon {
                
                fill:#A9A9CD;
                stroke:#A9A9CD;
            }
            .q-icon {
              display:none;  
            } 

        };
}


