// Copied from themes/common.variables.styl
// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar"s source Stylus files. Setting
// variables before Quasar"s Stylus will use these variables rather than
// Quasar"s default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It"s highly recommended to change the default colors
// to match your app"s branding.

$primary   = $oxen-teal
$secondary = $oxen-light-teal
$accent  = $oxen-navy

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037
$warning1   = #F2C037

$beldex-green = linear-gradient(180deg, #419B41 0%, #43BD43 100%)

$oxen-navy = #1c1c26;
$beldex-bgcol = #2f2f40;
$color-white = #ffffff;
$green-color = #35af3b;
$blue-color = #3773f7;
$beldex-hover = #24242f;
$oxen-teal = #35af3b;
$oxen-light-teal = #f1f1f1;
$oxen-purple = #282828;
$oxen-navy1 = #010101;

$off-grey = #000000;

$beldex-black-60 = #313131;

// new Design vamp //

$beldex-lightgray=#242433;
$beldex-std-blue=#2879FB;
$beldex-std-green=#00AD07;
$beldex-disable-grey=#32324A;
